
<div class="container text-center">
  <h1>Coach Profile</h1>
<!--   this is the profile that of the coach as seen by the athlete who is browsing  -->
  <div class="">
    <%= cl_image_tag @coach.user_image, class: "round_image" %>
    <h2><%= @coach.first_name %></h2>
    <p><%= @coach.bio %><p>
    <div class="card mx-auto" style="width: 400px;">
<!--         <div class="card-body">
          <h5 class="card-title"><%= @coach.first_name %>%= @coach.last_name %></h5>
          <p class="card-text">
            <li>
              <%# @coach.sessions.each do |session| %>
                <%#= session.duration %> <%= @coach.first_name %>
              <%# end %>
            </li>
          </p>
          <%#= link_to @coach.name, user_path(@coach), class: "btn btn-primary" %>
        </div>
      </div> -->
      <h2>Sessions</h2>
      <ul>
        <li>Boxing | 2hrs </li>
        <li>Yoga | 1hr</li>
        <li>Running | 2 hrs</li>
      </ul>

    </div>
      <%= link_to "Back to Results", users_path, class:"btn btn-secondary my-4" %>
  </div>
</div>
