<div class="container">
  <h1>Create A New Session <%= @coach.first_name.capitalize %></h1>

  <%= simple_form_for [@coach, @session] do |f| %>
    <div class="form-inputs">
      <%= f.input :title, label: 'e.g. 1 Hour Yoga' %>
      <%= f.input :description%>
      <%= f.button :submit, "Create Session", class:"btn btn-primary mb-4" %>
    </div>

  <% end %>



</div>
