<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <div class="wrapper">
        <div class="banner-half" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?fitness);">
         <h2>Hi, <%= current_user.first_name.capitalize %>!</h2>
          <%= cl_image_tag current_user.user_image, class: "round_image", id: "image-top" %>
        </div>
        <div class="another-half">
          <p><%= current_user.bio %></p>
          <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn home-btn" %>

        </div>
      </div>
    </div>
    <div class="container d-flex mx-auto justify-content-center">
      <% current_user.athlete_bookings.each do |booking| %>
      <div class="col-4 d-flex mx-auto justify-content-center my-2 booking-card">
        <div class="card mx-auto" style="width: 400px;" data-booking-id="<%= booking.id %>">
          <div class="card-body">
                <h4><%= booking.session.title %> with <%= booking.session.coach.first_name %><h4>
                <p class="card-text">Date: <%= booking.date %> </p>
                <p class="card-text">Time: <%= booking.time.strftime("%H:%M") %></p>
                <%= link_to "Cancel This Booking", user_booking_path(current_user, booking), method: :delete,
                data: { confirm: "Are you sure?" }, class: "btn home-btn", remote: true %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="bottom-buttons text-center">
    <p><%= link_to "Home", root_path, class:"btn btn-secondary mb-4" %></p>
  </div>
</div>
</div>



