<div class="container text-center">


  <div class="row">
    <div class="col-12">
      <div class="wrapper">
        <div class="banner-half" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?fitness);">
         <h2>Hi, Coach <%= current_user.first_name.capitalize %>!</h2>
          <%= cl_image_tag current_user.user_image, class: "round_image", id: "image-top" %>
        </div>
          <div class="another-half">
            <div class="container">
              <p><%= current_user.bio %></p>
              <% current_user.user_sports.each do |u_sport|%>
                <p> 🏅<%= u_sport.sport.name %></p>
              <% end %>
              <% bookings = Booking.all.select do |booking| %>
                <% booking.session.coach == @coach %>
                <% end %>
                <p>You have been booked <strong><%= bookings.count %></strong> Times </p>
                <p>You're Current Ranking:
                  <% if bookings.count <= 0   %>
                    <%= "💩 (Poop)" %>
                  <% elsif bookings.count >= 1 %>
                    <%= "🥉 (Bronze)" %>
                  <% elsif bookings.count > 3 %>
                    <%= "🥈 (Silver)" %>
                  <% elsif bookings.count > 5 %>
                    <%= "🥇 (Gold)" %>
                  <% end %>
                </p>
              <button type="button" class="btn home-btn" data-toggle="modal" data-target="#exampleModal">
                Add a specialty
              </button>
              <%= link_to "Add a Session", "/users/#{current_user.id}/sessions/new", class: "btn home-btn" %>
            </div>
          </div>
      </div>
  </div>
    </div>
    <h3 class="text-center my-4"><strong>SESSIONS YOU'RE COACHING</strong></h3>
    <div class="row">
      <% current_user.coach_sessions.each do |session| %>
        <div class="col-4 d-flex mx-auto justify-content-center my-2">
          <div class="card bmx-auto" style="width: 400px;" data-session-id="<%= session.id %>">
            <div class="card-body" id="teaching-session">
                <h4 class="card-title"><%= session.title %></h4>
                <p class="card-text"><%= session.description %></p>
                <%= link_to "Delete session", "/users/#{current_user.id}/sessions/#{session.id}", method: :delete, class: "btn home-btn", remote: true  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <h3 class="text-center my-4"><strong>SESSIONS YOU'RE ATTENDING</strong></h3>
<div class="row">
  <% current_user.athlete_bookings.each do |booking| %>
    <div class="col-4 d-flex mx-auto justify-content-center my-2">
      <div class="card bmx-auto" style="width: 400px;" data-booking-id="<%= booking.id %>">
        <div class="card-body">
          <h4 class="card-title"><%= booking.session.title %> with <%= booking.session.coach.first_name %><h4>
          <p class="card-text">Date: <%= booking.date %></p>
          <p class="card-text">Time: <%= booking.time.strftime("%H:%M")%></p>
         <%= link_to "Delete Booking", user_booking_path(current_user, booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn home-btn card-text", remote: true %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  <div class="bottom-buttons text-center">
    <p><%= link_to "Home", root_path, class:"btn btn-secondary mb-4" %></p>
  </div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="form-flex">
        <%= simple_form_for [current_user, UserSport.new] do |f| %>
        <div class="btn-flex">
          <%= f.association :sport, label: false %>
        </div>
          <div class="btn-flex">
            <%= f.button :submit, 'Add!', class: "btn home-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


